button {
    margin: 10px 0;
    padding: 2px 30px;
    color: white;
    background-color: #181717;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

button:hover {
    background-color: #222;
    transform: translateY(-2px);
}

button :focus { outline: none; }


