@import "fonts";

$color-primary: #7F1526;
$color-primary-darker: #65101E;
$color-secondary: #0e1111;
$color-secondary-lighter: #232b2b;
$color-white: #FFFFFF;

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $color-secondary;
    color: $color-white;
    font-family: WalkwayRounded, sans-serif;
    font-size: 18px;

    main {
      width: 80%;
      max-width: 1080px;
      margin: 30px auto 0;
      height: 100%;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    main > div {
      min-width: 50%;
    }

    h3 {
      font-size: 40px;
      letter-spacing: 3px;
      font-weight: normal;
      text-align: center;
    }
  }
}

header {
  width: 100%;
  height: 70px;
  background-color: $color-primary;
  color: $color-white;
  display: flex;

  .logo {
    float: left;
    height: 40px;
    width: auto;
    margin: 15px 40px;
    cursor: pointer;
  }

  nav {
    display: flex;
    height: 100%;
    float: right;

    a {
      position: relative;
      padding: 0 20px;
      line-height: 70px;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      color: $color-white;
      cursor: pointer;
    }

    a:hover {
      background-color: $color-primary-darker;
    }

    .expand-icon {
      display: none;
      position: relative;
      width: 70px;
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    justify-content: space-between;

    nav {
      a {
        display: none;
      }
  
      .expand-icon {
        display: block;
      }
    }

    &.expanded {
      .logo {
        display: none;
      }

      .expand-icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        flex-direction: column;
        position: relative;
        width: 100%;
        overflow: visible;

        a {
          display: block;
          background-color: $color-primary;
        }
      }
    }
  }
}

#dashboard {
  #progress-list {
    width: 80%;

    .participant {
      display: flex;
      width: 100%;
      margin-bottom: 10px;

      .name {
        min-width: 30%;
        margin-right: 15px;
      }

      .progress-max {
        position: relative;
        min-width: 150px;
        width: 100%;
        height: 20px;
        border: 1px solid $color-primary;
        border-radius: 8px;
        color: white;
        font-size: 14px;

        .progress-current {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          background-color: $color-primary;
          border-radius: 5px;
          line-height: 20px;
          text-align: center;
        }
      }

      .progress-missing {
        margin: auto 10px;
        font-size: 14px;
      }
    }
  }
}

#data-log {
  :focus {
    outline: none;
    box-shadow: 0 0 7px 3px rgba(255, 255, 255, 0.3);
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: center;
    }

    .label {
      min-width: 50px;
      height: 25px;
      line-height: 25px;
      text-align: right;
      margin: 5px 10px;
    }

    .input {
      min-width: 100px;
      height: 25px;
      line-height: 25px;
      margin: 5px 10px;
      text-align: left;
      background: transparent;
      border: 1px solid $color-white;
      border-radius: 10px;
      color: $color-white;
      text-align: center;
    }

    button {
      margin-top: 20px;
      width: 225px;
      border: none;
      color: $color-white;
      border-radius: 20px;
      text-align: center;
      padding: 5px 50px;
      font-family: WalkwayRounded, sans-serif;
      font-size: 22px;
      line-height: 22px;
    }

    button:hover {
      background-color: $color-secondary-lighter;
    }

    button:active {
      transform: translateY(-2px);
    }
  }
}

.spreadsheet {
  width: 100%;
  height: 100%;
  margin-top: 50px;

  iframe {
    width: 100%;
    min-height: 500px;
    height: 100%;
  }
}
