a {
    width: 100%;
    text-decoration: none;
    color: #00833e;
}

a:hover {
    color: #01632e;
}

#image {
    width: 75%;
    height: 150px;
    margin: auto;
    background-color: white;
    background-image: url(https://miro.medium.com/max/580/1*u-AcMWWeLrVVs7gj0QyBOQ.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}