
@font-face {
    font-family: WalkwayRounded;
    src: url(walkway-rounded.ttf) format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2F0205;
    background-image: url(background-widescreen-hd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: WalkwayRounded, sans-serif;
}

main {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;

}

main > div {
    width: 50%;
    flex: 0 50%;
}

h3 {
    font-size: 36px;
    color: white;
    letter-spacing:  3px;
    font-weight: normal;
}